@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --font-family: "Montserrat", sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: var(--font-family);
    font-size: 18px;
}
.header__divider {
    position: relative;
    border: 0;
    height: 1px;
    background: #dddddd;
}
.gray_section {
    background: #fafafa;
}

/* Navbar */
.navbar {
    height: 92px;
}
.navbar__wrapper {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 100%;
}
.navbar__left-side,
.navbar__right-side {
    display: flex;
    align-items: center;
    flex-grow: 0;
}
.nav__links {
    display: flex;
    align-items: center;
    list-style-type: none;
    column-gap: 36px;
}
.nav__link {
    color: #fff;
    text-decoration: none;
}
.nav__link:hover {
    text-decoration: underline;
    text-underline-offset: 2px;
}
.nav__link img {
    width: 32px;
    height: 32px;
}

/* Обо мне */
#about {
    padding: 96px 0;
    position: relative;
    z-index: 1;
    box-shadow: 0px 0px 8px 0px rgba(34, 60, 80, 0.2);
}
.about__header {
    font-size: 82px;
    font-weight: 700;
    color: #333;
}
.about__intro {
    font-size: 24px;
    color: #757575;
}
.about__description {
    font-size: 18px;
    color: #333;
}

/* Последние работы */
#projects {
    padding: 96px 0;
}
.projects__title {
    display: block;
    position: absolute;
    top: -.5rem;
    left: 50%;
    width: 320px;
    margin-left: -160px;
    text-align: center;
    text-transform: uppercase;
    background: #fafafa;
    font-size: 14px;
    font-weight: 600;
    letter-spacing: .1em;
    color: #757575;
}
.project_card {
    display: flex;
    flex: 1 1 auto;
    border: none;
    box-shadow: 0px 3px 7px 1px rgba(34, 60, 80, 0.2);
}
.project_card a {
    cursor: pointer;
    text-decoration: none;
}
.project_image {
    width: 100%;
    height: 184px;
    border-radius: 8px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    overflow: clip;
}
.project_image img {
    transition: transform .2s ease;
}
.project_card:hover .project_image img {
    transform: scale(1.1);
}
.card__description {
    position: relative;
    padding: 16px 40px 16px 16px;
}
.project_name {
    font-size: 18px;
    line-height: 1.2;
    font-weight: 400;
    color: #333;
}
.project_description {
    font-size: 14px;
    font-weight: 400;
    color: #757575;
}
.card__arrow {
    display: block;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: -10px;
    opacity: 0;
    z-index: 1;
    width: 32px;
    height: 32px;
    background: url(../svg/card_arrow.svg) no-repeat;
    background-size: cover;
    transition: all .2s ease;
}
.project_card:hover .card__arrow {
    right: 10px;
    opacity: 1;
}

@media screen and (min-width: 1200px) {
    .project_card {
        height: 292px;
        width: 330px;
    }
}